@import "tailwindcss";

@theme {
  --color-primary: #22c55e;
  --color-secondary: #16a34a;
  --color-background: #0a0a0a;
  --color-card: #111111;
  --color-border: #1f1f1f;
  --color-text: #ffffff;
  --color-muted: #6b7280;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}
